body{
   font-family: 'Lato', sans-serif;
}
img{
    align-content: space-around;
    height: 200px;
    width: 200px;
}
.ik{
    text-align: center;
    
}  
.abc{
    font-weight: 600;
    text-align: center;
}
.cd{
    font-weight: 700;
    text-align: center;
}
.sa{
    display: block;
}
.tv{
    font-weight: 400;
}
h3{
    color:darkblue;
}
